<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Episodes</title>
</head>
<body id="background">
    <h1>Episodes</h1>
    <%- include('partials/menu.ejs') %>
    <hr>
    <p id="fact">Fun Fact: Rick and Morty has 51 total episodes!</p>
    <br>
    <h3>Episode Info Finder</h3>
    <form action="/episode">
        <input type="number" name="episodeNum">
        <button>See Episode Info</button>
    </form>

    <% if (episode) { %>
        <h2>Episode Details</h2>
        <p><strong>Title:</strong> <%= episode.name %></p>
        <p><strong>Air Date:</strong> <%= episode.air_date %></p>
        <p><strong>Episode:</strong> <%= episode.episode %></p>
    <% } %>

    <br><br>

    <%- include('partials/footer.ejs') %>

</body>
</html>